<!DOCTYPE html>
<html>
<head>
<title> Add Background img"
</title>
</head>
<body background="https://www.muralswallpaper.com/app/uploads/Pink-Marble-WEBSITE-SWATCH-820x532.jpg">
<h1> Delete Task </h1>

Task Name: <%= @task.name %> <br>
Task Details: <%= @task.description %>

<form method="post" action="/tasks/<%= @task.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
</body>
</html>