<!DOCTYPE html>
<html>
<head>
<title> Add Background img"
</title>
</head>
<body background="https://www.muralswallpaper.com/app/uploads/Pink-Marble-WEBSITE-SWATCH-820x532.jpg">
<div class="list-group" "text-center">
    <% @tasks.each do |task| %>
      <h3><a href="tasks/<%= task.id%>" class="list-group-item"><%= task.name %></a></h3>
    <% end %><br><br>
    <a class="btn btn-sm btn-light" href="/tasks/new">Create Task</a>
</div>
<style>

    

</style>
</body>
</html>
