Task Name: <%= @task.name %> <br>
Task Description: <%= @task.description %>



<form method="post" action="/tasks/<%= @task.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>