<!DOCTYPE html>
<html>
<head>
<title> Add Background img"
</title>
</head>
<body background="https://www.muralswallpaper.com/app/uploads/Pink-Marble-WEBSITE-SWATCH-820x532.jpg">

<div class="container">
<h1 class="welcome"> Welcome, <%= current_user.username %>.<br>

Today's date is <%= Time.now.strftime("%m/%d/%Y") %>.<br>
The current time is <%= Time.now.strftime("%I:%M %p") %></h1>
<p> To view your tasks or to create a new one, please navigate to the bar on top of the screen</p>

</div>
<style>
    p {
        text-align: center;
        font-size: 40px;
    }

    .welcome {
        color: #black;
        border: 2px #869089;
        outline-style: inset;
        outline-color: #black;
        outline-width: medium;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 20%;
        font-size: 90px;
    }
</style>

</body>
</html>



    





