<!DOCTYPE html>
<html>
<head>
<title> Add Background img"
</title>
</head>
<body background="https://www.muralswallpaper.com/app/uploads/Pink-Marble-WEBSITE-SWATCH-820x532.jpg">
<h1> SignUp Page </h1>

<form action='/users/signup' method="POST">
  Username: <input type="text" name="username">
  Password: <input type="password" name="password">
  <input type="submit">
</form>
</body>
</html>