<div class="container">

  <h1 class="welcome_title">What Am I Doing Today? </h1>
  <img class="welcome_image" src="https://image.freepik.com/free-vector/reminders-message-notes-illustration-memo-stickers-paper-pages-list_33099-414.jpg">


</div>




